/.vscode
/archive_backend/target
/archive_backend/output/*.txt
/archive_backend/output/*.bin
/archive_backend/output/*.csv
/archive_backend/output/*.ipynb
/archive_backend/single neuron tests
/archive_backend/stdp tests
/archive_backend/coupled tests
/archive_backend/lattice simulations
/archive_backend/stdp lattice
/archive_backend/hodgkin huxley tests
/archive_backend/args/test_izhikevich_lattice.toml
/archive_backend/hodgkin huxley tests/hodgkin_huxley_test.csv
/archive_backend/hodgkin huxley tests/coupled_hodgkin_huxley.csv
/archive_backend/results/*.csv
/archive_backend/results/*.ipynb
/archive_backend/results/gif_generation.py
/archive_backend/results/*.bin
/archive_backend/results/*.txt
/archive_backend/results/lattice_images/*
/archive_backend/rstdp_example/*.csv
/old_backend/*
/old_interface/*
/backend/target
/backend/src/neuron/iterate_and_spike_traits/target
/backend/examples/hopfield/*_hopfield.txt
/backend/examples/stdp/*.csv
/backend/examples/stdp/*.txt
/backend/examples/stdp/*.ipynb
/backend/examples/bcm/*.csv
/backend/examples/bcm/*.txt
/backend/examples/bcm/*.ipynb
/backend/examples/rstdp/*.csv
/backend/examples/rstdp_lattice/*.txt
/backend/examples/rstdp_lattice/*.ipynb
/backend/examples/morris_lecar/*.csv
/backend/examples/hodgkin_huxley/*.csv
/backend/examples/izhikevich/*.csv
/backend/examples/lattice/*.txt
/backend/examples/lattice/*.ipynb
/backend/examples/lattice/*.gif
/backend/examples/lattice_network/*.txt
/backend/examples/lattice_network/*.ipynb
/backend/examples/lsm_architecture/*.ipynb
/backend/examples/lsm_architecture/*.txt
/backend/examples/interacting_pools/*.csv
/backend/examples/gpu_lattice/*.txt
/backend/examples/gpu_lattice/*.ipynb
/images/data/*
/archive_interface/target
/archive_interface/.venv
/archive_interface/generate_methods.py
/interface/target
/interface/.venv/*
/interface/windows_venv/*
/interface/notebooks/*.ipynb
/interface/notebooks/*.py
/interface/notebooks/*.json
/interface/notebooks/*.toml
/interface/notebooks/.ipynb_checkpoints
/interface/notebooks/*.gif
/interface/notebooks/*.npy
/interface/experiments/*/*.json
/interface/experiments/*/*.ipynb
/interface/experiments/*/*.py
/interface/experiments/*/*.npy
/interface/experiments/*/*.csv
/interface/experiments/*/*.txt
/interface/experiments/*/*.sav
/interface/experiments/*/*.html
/interface/generate_methods.py
/build_test/pratt/target
/build_test/other_ast/target
/build_test/nb_macro/target
/build_test/nb_macro/.venv
/gpu_impl/opencl/colwise_test/target
/gpu_impl/opencl/graph_test/target
/gpu_impl/opencl/lif_test/target
