/.vscode
/backend/target
/backend/*.txt
/backend/*.bin
/backend/single neuron tests
/backend/stdp tests
/backend/coupled tests
/backend/lattice simulations
/backend/stdp lattice
/backend/hodgkin huxley tests
/backend/test_izhikevich_lattice.toml
/backend/hodgkin huxley tests/hodgkin_huxley_test.csv
/backend/hodgkin huxley tests/coupled_hodgkin_huxley.csv
/backend/results/*.csv
/backend/results/*.ipynb
/backend/results/gif_generation.py
/backend/results/*.bin
/backend/results/*.txt
/backend/results/lattice_images/*
/interface/target
/interface/.venv
/interface/generate_methods.py
